nav {
  background-color: var(--yellow);
  height: 40px;
  
}
nav ul {
   display: flex;
   align-items: center;
   list-style-type: none;
   height: 100%;
   margin-left: 16px;
}

nav ul li {
  margin-right: 16px;
}
  
nav ul a {
  color: var(--black);
  text-decoration: none;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 24px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.dashboard-posts-list {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.dashboard-list-header {
  display: grid;
  grid-template-columns: auto 30% 30%;
  background-color: var(--dark-green);
  padding: 8px;
}

.dashboard-list-header-item {
  font-weight: 500;
  color: var(--white);
}

.dashboard-list-value {
  display: grid;
  grid-template-columns: auto 30% 30%;
  padding: 8px;
  border-bottom: 1px solid grey;
}

.dashboard-list-item-title {
  cursor: pointer;
}

.dashboard-logout-wrapper {
  display: flex;
  margin-top: 16px;
  margin-top: auto;
}

.dashboard-logout-button {
  margin: 0 auto;
  width: 200px;
  background-color: transparent;
  font-weight: 500;
}