.header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: var(--green);
  }
  
  .header .page-title {
    font-size: 32px;
    font-weight: bold;
    margin-left: 8px;
  }
  
  .header .blog-icon {
    width: 40px;
    height: 40px;
  }

  .admin-tag {
      border: 1px solid;
      background-color: var(--dark-blue);
      color: var(--white);
      border: none;
      border-radius: 11px;
      padding: 8px;
      margin-left: 10px;
      font-size: 10px;
      letter-spacing: 2px;
  }