.back-button {
  text-decoration: none;
  color: var(--black);
}

.post-content {
  display: flex;
  flex-direction: column;
  margin: 24px 56px;
  height: 90vh;
  min-width: 900px;
}

.post-header {
  text-align: center;
}

.post-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 24px;
  margin-top: 24px;
}

.post-form-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.post-form-image {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
}

.post-form-image-empty {
  width: 100%;
  max-width: 400px;
  height: 250px;
  background-color: var(--yellow);
}

.post-details {
  display: flex;
  flex-direction: column;

}

#quill-text-area .ql-editor strong {
  font-weight: bold;
}

.post-form-field-wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.post-form-field-wrapper input {
  border-radius: 0;
  border:1px solid  #ccc;
}

.post-form-label {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.post-form-content-field {
  min-height: 150px;
}

.post-form-actions {
  grid-column: span 2;
  text-align: right;
  margin-top: 8px;
}

.post-form-button {
  font-size: 18px;
  margin-left: 8px;
}

.post-delete-button-wrapper {
  display: flex;
}

.post-delete-button {
  font-size: 12px;
  margin: 0 auto;
  width: 200px;
  background-color: transparent;
  font-weight: 500;
  color: var(--red);
}