.signin-content {
  text-align: center;
  margin: 24px 0;
}

.signin-form {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form-field-wrapper {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-template-rows: auto auto;
  align-items: center;
  margin: 8px 0;
}

.signin-form-label {
  text-align: left;
  font-weight: 500;
}

.signin-error {
  grid-column: 2;
  justify-self: flex-start;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  color: var(--red);
}

.auth-error {
  max-width: 300px;
  margin-top: 16px;
}

.buttons-wrapper {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.buttons-wrapper a {
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 8px 16px;
}