/* Global */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: #000;
}

h1,
strong {
  font-weight: 500;
}

h1 {
  font-size: 40px;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 8px 16px;
}

.default-button {
  background-color: var(--dark-blue);
  color: white;
}

.cancel-button {
  background-color: lightgrey;
}

input {
  padding: 8px;
  border-radius: 8px;
  border-color: var(--dark-blue);
  background-color: transparent;
}

:root {
  /*  bg */
  --white: #f4f1de;
  --dark-blue: #3d405b;
  --red: #a0031b;
  --green: #81b29a;
  --dark-green: #253031;
  --yellow: #f1d19d;
  --brown: #854d27;
  --black: #000;
  --orange: #e55812;
}
