<!DOCTYPE html>
<html>
<%- include('../layouts/blog/header'); -%>
<body>
  <main class="home-container">
    <%- include('../layouts/blog/nav'); -%>
    
    <div class="home-content">
      <% if(typeof posts != 'undefined') { for (post of posts) { %>
        <div class="home-post-card" onclick="location.href = 'post/<%= post.slug %>';">
          <div class="home-post-card-info">
            <h2><%= post.title %></h2>
            <span class="home-post-card-date"><%= post.date %></span>
          </div>
          <img
            class="home-post-card-image"
            src="<%= post.imgSrc %>"
            class="blog-icon"
          >
        </div>
      <% } } %>
    </div>
  </main>
</body>
<%- include('../layouts/blog/footer'); -%>
</html>