<!DOCTYPE html>
<html>
<%- include('../layouts/blog/header'); -%>
<body>
  <main class="post-container">
    <div class="post-header">
      <h1>
        <%= post.title %>
      </h1>
      <span class="post-date">
        <%= post.date %>
      </span>
    </div>

    <img
      class="post-image"
      src="<%= post.imgSrc %>"
      class="blog-icon"
    >
    
    <p class="post-content">
      <%- post.content %>
    </p>
    
      <script>
        // Deleting unnecessary html and setting text to not be editable
        document.querySelector('.post-content') && document.querySelector('.post-content').remove();
        document.querySelector('.ql-editor') && document.querySelector('.ql-editor').setAttribute('contenteditable', false);
        document.querySelector('.ql-tooltip.ql-hidden') && document.querySelector('.ql-tooltip.ql-hidden').remove();

      </script>
  </main>
</body>
<%- include('../layouts/blog/footer'); -%>
</html>