<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/global.css">
  <link rel="stylesheet" type="text/css" href="/css/blog/header.css">
  <link rel="stylesheet" type="text/css" href="/css/blog/nav.css">
  <link rel="stylesheet" type="text/css" href="/css/blog/footer.css">
  <link rel="stylesheet" type="text/css" href="/css/blog/home.css">
  <link rel="stylesheet" type="text/css" href="/css/blog/post.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <title>Food Blog</title>
  <div class="header" onclick="location.href = '/';">
    <div class="page-title-wrapper">
      <img src="/images/blog-icon.png" class="blog-icon">
      <span class="page-title">Food Blog</span>
    </div>

    <% if(typeof admin != 'undefined' && admin !== null){ %>
      <div class="admin-wrapper">
        <a class="admin-tag" href="/admin/dashboard">ADMIN View</a>
        <a href="/admin/logout">Logout</a>
      </div>
    <% } else{ %>  
      <a class="login" href="admin/login">Login</a>
    <% } %>
  </div>
</head>
