<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/header.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/login.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/signin.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/post.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <title>Admin Dashboard</title>
    <div class="header" onclick="location.href = '/';">
      <img src="/images/blog-icon.png" class="blog-icon">
      <span class="page-title">Food Blog</span>
      <span class="admin-tag">ADMIN View</span>
    </div>
</head>