<!DOCTYPE html>
<html>
<%- include('../layouts/admin/header'); -%>
</body>
<nav>
  <ul>
    <li><a href="/home">Home</a></li>
  </ul>
</nav>
<main class="dashboard-content">
  <div class="dashboard-header">
    <h1>Posts</h1>
    <button class="default-button" onclick="location.href = 'post';">Add New</button>
  </div>
  <div class="dashboard-posts-list">
    <div class="dashboard-list-header">
      <div class="dashboard-list-header-item">Title</div>
      <div class="dashboard-list-header-item">Slug</div>
      <div class="dashboard-list-header-item">Date</div>
    </div>
    <div>
      <% posts ? posts.forEach(post => { %> 
        <div class="dashboard-list-value">
          <div class="dashboard-list-item-title" onclick="location.href = 'post?id=<%= post._id %>';"><%= post.title %></div>
          <div><%= post.slug %></div>
          <div><%= post.date %></div>
        </div>
      <% }) : "" %>
    </div>
  </div>
  <form class="dashboard-logout-wrapper" method="POST" action="/admin/logout">
    <button class="dashboard-logout-button">Logout</button>
  </form>
</main>
<body>
</html>
