<!DOCTYPE html>
<html>
<%- include('../layouts/admin/header'); -%>
</body>
<main>
  <div class="login-content">
    <h1 >Admin Dashboard</h1>

    <form class="login-form" method="POST" action="/admin/login" >
      <div class="login-form-field-wrapper">
        <label class="login-form-label" for="email">Email</label>
        <input
            name="email"
            id="email"
            placeholder="johdoe@gmail.com" 
            autofocus
        >
        <% if(typeof fieldErrors != 'undefined') { %> <%-
            include('components/error-message', { fieldErrors, fieldName: "email" }); %>
        <% } %>
      </div>

      <div class="login-form-field-wrapper">
        <label class="login-form-label" for="password">Password</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="*****" 
            autofocus
        >
        <% if(typeof fieldErrors != 'undefined') { %> <%-
            include('components/error-message', { fieldErrors, fieldName: "password" }); %>
        <% } %>
      </div>

      <% if(typeof loginError != 'undefined') { %> 
        <span class="login-error auth-error">The email and password you entered did not match our records. Please double-check and try again.</span>
      <% } %>
      
      <div class="buttons-wrapper">
        <button class="default-button login-submit-button" type="submit">Login</button>
        <a href="signin" class="default-button">Sign In</a>
      </div>
    </form>
  </div>
</main>
<body>
</html>
