<!DOCTYPE html>
<html>
<%- include('../layouts/admin/header'); -%>
</body>
<main class="post-content">
  <a class="back-button" href="dashboard">◀ Back</a>
  <h1 class="post-header"><%= typeof post != 'undefined' && post._id ? 'Edit post' : 'Create post' %></h1>
  <% if(typeof post != 'undefined' && post._id) { %> 
    <form class="post-delete-button-wrapper" method="POST" action="/admin/post/delete/<%=post._id%>">
      <button class="post-delete-button">Delete post</button>
    </form>
  <% } %>
  <form class="post-form" method="POST" action="/admin/post"  enctype="multipart/form-data">
    <div class="post-form-image-container">
      <img 
        id="image"
        src="<%= typeof post != 'undefined' && post._id ? post.imgSrc : '/images/upload-image.png' %>"
        class="post-form-image">
      <input type="file" class="post-form-image-input" name="image" onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0])" />
    </div>
    
    <div class="post-details">
      <input type="hidden" name="id" value="<%= typeof post != 'undefined' && post._id ? post._id : '' %>" />

      <div class="post-form-field-wrapper">
        <label class="post-form-label">Title</label>
        <input
            name="title"
            placeholder="New lunch recipe"
            value="<%= typeof post != 'undefined' && post._id ? post.title : '' %>"
            autofocus
        >
        <% if(typeof fieldErrors != 'undefined') { %> <%-
            include('components/error-message', { fieldErrors, fieldName: "title" }); %>
        <% } %>
      </div>
  
      <div class="post-form-field-wrapper">
        <label class="post-form-label">Slug</label>
        <input
            name="slug"
            placeholder="new-lunch-recipe"
            value="<%= typeof post != 'undefined' && post._id ? post.slug : '' %>"
            autofocus
        >
        <% if(typeof fieldErrors != 'undefined') { %> <%-
            include('components/error-message', { fieldErrors, fieldName: "slug" }); %>
        <% } %>
      </div>
  
      <label class="post-form-label">Content</label>
      <input name="content" id="content" type="hidden"/>
      <div id="quill-text-area">
        <%- typeof post != 'undefined' && post._id ? post.content : '' %>
      </div>
      
      
      <!-- Include the Quill library -->
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
      
      <!-- Initialize Quill editor -->
      <script>
        var quill = new Quill('#quill-text-area', {
          theme: 'snow'
        });

        $(".post-form").on("submit",function() {
          $("#content").val(document.getElementById("quill-text-area").innerHTML);
        })

        
        </script>
    </div>
    
    <div class="post-form-actions">
      <button class="cancel-button post-form-button" type="button" onclick="location.href = 'dashboard';">Cancel</button>
      <button class="default-button post-form-button" type="submit">Save</button>
    </div>
  </form>

</main>
<body>
</html>
