<!DOCTYPE html>
<html>
<%- include('../layouts/admin/header'); -%>
</body>
<main>
  <div class="signin-content">
    <h1>Sign In</h1>

    <form class="signin-form" method="POST" action="/admin/signin" >
      <div class="signin-form-field-wrapper">
        <label class="signin-form-label" for="email">Email</label>
        <input
            name="email"
            id="email"
            placeholder="johdoe@gmail.com" 
            autofocus
        >
        <% if(typeof fieldErrors != 'undefined') { %> <%-
            include('components/error-message', { fieldErrors, fieldName: "email" }); %>
        <% } %>
      </div>

      <div class="signin-form-field-wrapper">
        <label class="login-form-label" for="password">Password</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="123456" 
            autofocus
        >
        <% if(typeof fieldErrors != 'undefined') { %> <%-
            include('components/error-message', { fieldErrors, fieldName: "password" }); %>
        <% } %>
      </div>

      <% if(typeof loginError != 'undefined') { %> 
        <span class="signin-error auth-error">The email and password you entered did not match our records. Please double-check and try again.</span>
      <% } %>
      
      <button class="default-button sign-submit-button" type="submit">Create account</button>
    </form>
  </div>
</main>
<body>
</html>
