.header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--green);
}

.header .page-title-wrapper {
  display: flex;
  align-items: center;
}

.header .page-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 8px;
}

.header .blog-icon {
  width: 40px;
  height: 40px;
}

.header a {
  text-decoration: none;
  color: var(--black);
}

.login {
  font-size: 14px;
}

.admin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.admin-tag {
  border: 1px solid;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 11px;
  padding: 8px;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}