.home-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.home-content {
  margin: 56px 24px 24px;
}

.home-post-card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  height: 100px;
  margin: 0 auto 56px;
}

.home-post-card-image {
  width: 200px;
  height: 100%;
  margin-bottom: 8px;
  object-fit: cover;
}

.home-post-card-info {
  align-self: center;
}

.home-post-card-date {
  color: grey;
}