nav {
  display: flex;
  background-color: var(--yellow);
  width: 100%;
  padding: 16px 24px 8px;
}

nav ul {
  list-style-type: none;
  overflow: auto;
  white-space: nowrap;
}

nav ul::-webkit-scrollbar { 
  height: 7px;
}

nav ul::-webkit-scrollbar-thumb {
  background: #f7d9a8; 
  border-radius: 10px;
  width: 15px;
}

nav li {
  display: inline-block;
  padding-bottom: 8px;
}

nav li a {
  display: block;
  text-decoration: none;
  color: var(--dark-green);
  margin-right: 16px;
}