.post-container {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  max-width: 1000px;
  min-width: 750px;
  min-height: 75vh;
}

.post-header {
  text-align: center;
  margin: 0 56px 24px;
}

.post-date {
  color: grey;
}

.post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 32px;
}

.post-content {
  margin: 24px 56px;
  font-size: 24px;
  white-space: pre-line;
}